@media (max-width: 1200px) {
	.product-bottom__item {
		width: 100%;
		& + .product-bottom__item {
			margin-top: 120px;
		}
	}
	.product-bottom__items {
		flex-wrap: wrap;
	}
	.product-bottom__item + .product-bottom__item {
		margin-left: 0px;
	}

	.design__items {
		grid-template-columns: repeat(2, 1fr);
		margin: 0 20px;
	}
	.articles__items {
		flex-wrap: wrap;
		justify-content: center;
	}
	.articles__item {
		margin: 10px;
	}
	.bacgraund {
		display: none;
	}
	.articles__logo {
		background-color: #fff7f0;
	}
	.articles__inner {
		margin: 0 20px 20px;
	}
	.footer-top__items {
		flex-wrap: wrap;
		margin: 0 15px;
	}
	.footer-top__item--form {
		max-width: 100%;
	}
	.footer-bottom {
		margin: 0 15px;
	}
	.filter {
		display: none;
	}
	.filter--active {
		background-color: #fff;
		z-index: 5;
		position: absolute;
		width: 70%;
		display: block;
		box-shadow: 10px 10px 10px rgb(51, 128, 190);
		margin: 0 auto;
		padding: 0 15px;
	}
	.product__btn-list {
		display: block;
		position: fixed;
		z-index: 999;
		right: 0;
		top: 25%;
	}
	.jq-ry-container {
		z-index: 2;
	}
	.about__wrapper {
		flex-wrap: wrap;
		justify-content: center;
	}
	.team__wrapper {
		padding: 0 15px;
		flex-wrap: wrap;
	}
	.team__content {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.blog__sidebar {
		order: -1;
		width: 100%;
		margin-right: 35px;
	}
	.blog__content {
		max-width: 100%;
		margin-right: 30px;
	}
	.blog__items-details {
		flex-wrap: wrap;
	}
	.post__item {
		justify-content: start;
	}
	.blog {
		padding: 120px 15px;
	}
	.post__items {
		margin-bottom: 20px;
	}
	.search__input {
		margin-left: auto;
	}
	.search__form {
		width: 100%;
	}
	.block-form__map {
		flex-wrap: wrap;
		width: 100%;
	}
	.contact__map {
		iframe {
			max-width: 100%;
		}
	}
	.contact__map {
		margin-top: 25px;
	}
	.contact__items {
		justify-content: center;
		flex-wrap: wrap;
	}
	.product-details__box {
		flex-wrap: wrap;
	}
	.product-details__slider-box {
		margin-right: 0px;
		margin: 0 auto;
	}
	.slick-dots {
		display: none !important;
	}
}

@media (max-width: 1024px) {
	.header {
		&__button {
			background-image: url("../images/icons/burger-menu.svg");
			background-repeat: no-repeat;
			min-width: 35px;
			height: 40px;
			display: block;
			border: none;
			order: -1;
			padding: 0;
			box-shadow: 0px 2px 13px $accent;
		}
		&__inner {
			flex-wrap: wrap;
		}
	}
	.menu {
		&__list {
			transform: translateY(-200%);
			position: absolute;
			top: 155px;
			width: 100%;
			left: 0;
			flex-direction: column;
			align-items: center;
			display: block;
			z-index: 10;
			transition: all 0.5s;
			&.menu__list--active {
				background-color: $accent;
				transform: translateY(0%);
			}
		}
		&__list-item + .menu__list-item {
			margin-left: 0px;
		}
		&__list-item {
			display: block;
			padding: 15px 0;
		}
		&__list-item {
			width: 100%;
			text-align: center;
		}
	}
	.top-slider {
		padding: 90px 0 40px;
	}
	.top-slider {
		&__title {
			font-size: 57px;
		}
	}
	.service__item::before {
		display: none;
	}

	.product-filter__items {
		grid-template-columns: repeat(3, 1fr);
	}
	.product-list__photo {
		max-width: 370px;
	}
	.product-list__description {
		width: 100%;
	}
	.product-tabs__btn {
		margin-bottom: 25px;
	}
	.tabs__btn + .product-tabs__btn {
		margin-left: 0px;
	}
}
@media (max-width: 860px) {
	.top-slider__img {
		max-width: 645px;
		width: 100%;
		display: none;
	}
	.slick-slide img {
		padding: 20px;
		display: none;
	}
	.slick-slide {
		padding: 20px;
	}
	.top-slider__title {
		max-width: 100%;
	}
	.product-filter__items {
		grid-template-columns: repeat(3, 1fr);
	}
	.product-list__description {
		max-width: 450px;
	}
	.about__img {
		max-width: 70%;
		max-height: 400px;
		margin-right: 0;
		margin: 0 auto;
	}
	.about__experience {
		display: none;
	}
	.about {
		padding: 50px 0;
	}
	.our-rating {
		height: auto;
		background-color: #fcd7b6;
	}
	.our-rating__inner {
		flex-direction: column;
		padding: 10px 0;
	}
	.our-rating__item {
		margin-bottom: 40px;
	}
	.team__pfoto-wrap {
		grid-template-columns: repeat(1, 100%);
		grid-column-gap: 30px;
		grid-row-gap: 65px;
		margin: 0 auto;
	}
	.team__img {
		max-width: 280px;
	}
	.team__box {
		width: 280px;
	}
	.block-form__box {
		flex-wrap: wrap;
	}
	.blog-details__images {
		display: none;
	}
	.slick-slide img {
		display: block;
	}
	.product-details__thumb-item {
		display: none;
	}
	.product-details__slider-box {
		width: auto;
	}
	.product-tabs__top {
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.product-filter__item {
		max-width: 100%;
	}
}
@media (max-width: 780px) {
	.design__items {
		grid-template-columns: repeat(2, 1fr);
		margin: 0 20px;
	}
	.design__inner {
		margin-top: 10px;
		margin-left: 10px;
	}
	.articles__logo {
		padding: 30px 0;
	}
	.articles__img {
		margin: 30px;
	}
	.articles__logo-inner {
		flex-wrap: wrap;
	}
	.product-list__photo {
		width: 100%;
	}
	.product-list__description {
		padding: 26px 28px 40px;
	}
}
@media (max-width: 720px) {
	.service .service__item--delivery {
		max-height: 150px;
	}
	.service__item {
		margin-top: 25px;
		align-items: baseline;
	}
	.product-filter__items {
		grid-template-columns: repeat(2, 1fr);
	}
	.product-list__title {
		font-size: 30px;
	}
	.product-list__text {
		font-size: 16px;
	}
	.product-list__btn {
		padding: 16px 35px;
	}
	.product-list__price {
		padding: 18px 0;
	}
	.about__title {
		line-height: 35px;
		font-size: 27px;
	}
	.about__content {
		padding: 55px 15px;
		width: 100%;
	}
	.blog__pablic-inner {
		width: 243px;
		height: 45px;
	}
	.blog__title {
		line-height: 40px;
		padding: 10px 0;
	}
}

@media (max-width: 640px) {
	.logo {
		width: 50%;
		padding: 15px 0;
	}
	.header {
		&__button {
			order: 0;
		}
	}
	.user-nav {
		margin: 0 auto;
	}
	.top-slider__item {
		margin-bottom: 40px;
	}
	.top-slider__title {
		font-size: 32px;
	}
	.top-slider__text {
		margin: 30px 0;
	}
	.top-slider {
		padding: 170px 0 40px;
	}
	.product-bottom__images {
		width: 20%;
	}
	.product-bottom__item + .product-bottom__item {
		margin-top: 40px;
	}
	.product-bottom__title {
		font-size: 18px;
		margin-bottom: 23px;
	}
	.product-bottom__item {
		height: 286px;
	}
	.product-filter__items {
		margin-bottom: -100px;
	}
	.design__title,
	.design__color {
		font-size: 15px;
	}
	.design__subtitle {
		font-size: 13px;
	}
	.design__items {
		grid-gap: 10px 10px;
	}
	.articles__inner {
		flex-wrap: wrap;
	}
	.articles__title {
		width: 100%;
		margin-bottom: 20px;
	}
	.footer-bottom {
		padding: 25px 0;
		flex-wrap: wrap;
	}
	.footer-bottom__copy {
		margin-bottom: 15px;
	}
	.breadcrumbs {
		margin-top: 170px;
	}
	.pagination {
		padding: 175px 0 61px;
	}
	.product-list {
		flex-wrap: wrap;
	}
	.product-list__photo {
		width: 100%;
	}
	.about__img {
		display: none;
	}
	.about__title-text {
		width: 100%;
	}
	.about__skills {
		width: 100%;
		flex-wrap: wrap;
		justify-content: start;
	}
	.about__skills-item:nth-last-child(2) {
		border-right: none;
		border-left: none;
	}
	.blog__items {
		flex-wrap: wrap;
	}
	.post__item {
		justify-content: space-between;
		justify-content: start;
	}
	.post__items {
		margin-bottom: 25px;
	}
	.blog {
		padding: 40px 0;
	}
	.blog__pagination {
		padding: 30px 0;
	}
	.product-tabs {
		padding: 30px 0 30px;
	}
	.product-content {
		text-align: center;
	}
	.product-content__star {
		margin: 0 auto;
	}
	.product-tabs__content-item.product-tabs__content-item--active {
		padding: 0px 15px;
	}
}

@media (max-width: 500px) {
	.top-slider__btn {
		padding: 15px;
	}
	.service__item {
		display: none;
	}
	.product-filter__items {
		grid-template-columns: repeat(1, 1fr);
	}
	.product-filter__item {
		max-width: 100%;
	}
	.design__items {
		grid-template-columns: repeat(1, 1fr);
	}
	.design__images {
		width: 100%;
	}
	.design__title,
	.design__color {
		font-size: 18px;
	}
	.design__list {
		margin-bottom: 60px;
		flex-direction: column;
	}
	.design__list-btn + .design__list-btn {
		margin-left: 0;
		padding: 10px;
	}
	.video {
		height: 300px;
		margin-bottom: 20px;
	}
	.product-list__photo {
		width: 50%;
	}
}

@media (max-width: 420px) {
	.user-nav__search {
		margin-right: 5px;
	}

	.user-pay {
		margin-right: 8px;
	}
	.product__buttons {
		flex-direction: column;
		align-items: center;
	}
	.product__btn + .product__btn {
		margin-left: 0;
		padding: 10px;
	}
	.top-slider__text {
		margin: 24px 0;
	}

	.product__buttons {
		margin-bottom: 20px;
	}
	.product__title {
		font-size: 22px;
	}
	.product-bottom__images {
		display: none;
	}
	.product-bottom__item {
		padding: 20px;
	}
	.articles__box {
		padding: 0px;
	}
	.articles__title {
		font-size: 20px;
	}
	.articles__item {
		height: 420px;
	}
	.footer-top__form-input {
		width: 100%;
	}
	.footer-top {
		padding: 20px 0;
	}
	.product-list__photo {
		height: 50%;
	}
	.product-list {
		justify-content: center;
	}
	.product-list__description {
		text-align: center;
	}
	.jq-ry-container {
		margin: 0 auto;
	}
	.product-list__pagination {
		padding: 22px 0 22px;
	}
	.profession-user {
		display: none;
	}
	.blog-details__description-subtitle-text {
		margin-bottom: 0px;
	}
	.comment-block {
		flex-direction: column;
	}
	.comment-block__inner {
		margin: 30px 0;
	}
	.blog__image {
		display: none;
	}
	.blog__pablic-inner {
		display: none;
	}
	.block-form__box input {
		width: 100%;
	}
	.product-tabs__btn {
		padding: 16px 30px;
		color: #243f4d;
		background-color: #edf1f4;
		border-radius: 5px;
		font-size: 18px;
	}
	.product-content__form {
		margin-bottom: 30px;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.product-content__btn {
		margin-left: 0px;
	}
	.product-details__big-item {
		width: 250px;
		height: 320px;
	}
	.product-content__title,
	.product-content__price {
		font-size: 30px;
	}
}
@media (max-width: 350px) {
	.product-content__btn {
		margin-left: 0px;
		margin-top: 25px;
		width: 100%;
	}
}
