@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
.header {
	&__inner {
		padding: 0 20px;
		background-color: #fff;
		position: fixed;
		right: 0px;
		left: 0px;
		z-index: 50;
		padding: 15px 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__button {
		display: none;
	}
}

.logo {
	&__link {
		display: flex;
	}
	&__img {
		margin-right: 13px;
	}
	&__text {
		@extend %Rubik-500;
		font-size: 36px;
		line-height: 58px;
		color: $default;
	}
}
.menu {
	&__list {
		display: flex;
	}
	&__list-item + .menu__list-item {
		margin-left: 30px;
	}
	&__list-link {
		@extend %Rubik-500;
		font-size: 15px;
		line-height: 12px;
		color: $default;
	}
}
.user-nav {
	display: flex;
	&__search {
		width: 50px;
		height: 50px;
		margin-right: 20px;
		background-color: #ececec;
		border-radius: 50%;
		position: relative;
	}
	&__search-img {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
	}
}
.user-pay {
	display: flex;
	justify-content: space-between;
	border-radius: 50px;
	width: 180px;
	height: 50px;
	background-color: #fcd7b6;
	align-items: center;
	margin-right: 18px;
	padding: 0 40px;
	&__link {
		position: relative;
	}
	&__link--border::before {
		content: "";
		height: 32px;
		height: 1px;
		color: rgb(196, 36, 36);
	}
	&__num {
		position: absolute;
		top: -9px;
		left: 14px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		font-size: 10px;
		line-height: 22px;
		background-color: #fff;
		text-align: center;
	}
}
.user-menu {
	background-color: $accent;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: relative;

	&__img {
		height: 22px;
		width: 22px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
	}
}
.logo__footer {
	margin-bottom: 30px;
}

.footer-top {
	padding: 75px 0;
	border-bottom: 2px solid #dae4e9;
	&__items {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		max-width: 270px;
		width: 100%;
	}
	&__item-connect {
		max-width: 200px;
		margin-right: 70px;
	}

	&__adress,
	&__phone,
	&__email,
	&__services,
	&__text {
		@extend %Rubik-400;
		display: block;
		font-size: 14px;
		line-height: 32px;
		color: $gray;
	}

	&__phone,
	&__adress {
		margin-bottom: 20px;
	}
	&__title {
		@extend %DMS-700;
		font-size: 16px;
		line-height: 21px;
		color: #1f2044;
		text-transform: uppercase;
		margin: 31px 0 40px;
	}
	&__link {
		@extend %Rubik-400;
		display: block;
		font-size: 14px;
		line-height: 24px;
		color: $gray;
	}

	&__services + .footer-top__services {
		margin-top: 20px;
	}
	&__text {
		margin: -5px 0 40px;
	}
	&__form {
		display: flex;
	}
	&__form-input {
		background-color: #fef7f0;
		height: 38px;
		width: 170px;
		padding: 0 10px;
		@extend %DMS-400;
		border: none;
		color: #234969;

		&::placeholder {
			font-size: 12px;
			color: #234969;
		}
	}
	&__form-button {
		font-size: 14px;
		line-height: 21px;
		color: #fff;
		border: none;
		background-color: $accent;
		width: 100px;
		cursor: pointer;
	}
}
.footer-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 38px 0;
	&__copy,
	&__link {
		@extend %Rubik-400;
		display: block;
		font-size: 14px;
		line-height: 32px;
		color: $gray;
	}
	&__items {
		display: flex;
	}

	&__item + .footer-bottom__item {
		border-left: 2px solid #7b7b7b;
		height: 16px;
	}

	&__link {
		line-height: normal;
		padding: 0 15px;
	}
	&__link--before {
		padding-left: 0;
	}
	&__link--after {
		padding-right: 0;
	}
}
.top-slider {
	background-image: url("../images/header-slider/slider-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	padding: 220px 0 40px;
	&__item {
		display: flex !important;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 200px;
		@extend %Rubik-500;
	}
	&__title {
		max-width: 470px;
		font-size: 72px;
		line-height: 70px;

		color: $subtitle;
	}
	&__text {
		display: block;
		margin: 40px 0;
		max-width: 370px;
		font-size: 18px;
		line-height: 30px;
		color: $default;
	}
	&__btn {
		padding: 25px 18px 25px;
		background-color: $accent;
		color: #fff;
		font-size: 15px;
		line-height: 12px;
		svg {
			margin-left: 60px;
		}
	}
	&__images {
		padding-top: 87px;
	}
	&__img {
		max-width: 645px;
		// height: 256px;
		width: 100%;
	}
}
.slick-dots {
	display: flex;
	justify-content: center;
	li {
		line-height: 0;
		padding: 0 5px;
		button {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 1px solid #fde3cc;
			position: relative;
			background-color: #fde3cc;
		}
		&.slick-active {
			button {
				background-color: #fff;
			}
		}
	}
}

.service {
	background-color: #fef7f0;
	&__items {
		display: flex;
		justify-content: space-around;
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 33.3%;
	}
	.service__item--support::before {
		content: url("../images/icons/support.svg");
		margin-bottom: 10px;
	}

	.service__item--delivery::before {
		content: url("../images/icons/delivery.svg");
		margin-bottom: 35px;
	}
	.service__item--delivery {
		border-right: 1px solid #e8e4df;
		border-left: 1px solid #e8e4df;
		height: 170px;
	}
	.service__item--secure::before {
		content: url("../images/icons/secure.svg");
		margin-bottom: 10px;
	}

	&__item-box {
		display: inline-block;
		max-width: 220px;
		padding-left: 20px;
	}
	&__title {
		@extend %DMS-700;
		font-size: 18px;
		color: #414141;
		margin-bottom: 10px;
	}
	&__text {
		@extend %DMS-400;
		font-size: 16px;
		color: #585858;
	}
}

.product {
	padding: 70px 0 100px;

	&__title {
		text-align: center;
		@extend %title;
		margin-bottom: 30px;
	}

	&__buttons {
		display: flex;
		justify-content: center;
		margin-bottom: 80px;
	}
	&__btn {
		background-color: transparent;
		padding: 0;
		border: none;
		cursor: pointer;
		font-size: 16px;
		color: #8b8b8b;
		@extend %DMS-700;
	}
	.mixitup-control-active {
		color: #1a1a1a;
	}
	&__btn + .product__btn {
		margin-left: 33px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__list-one {
		grid-template-columns: repeat(3, 1fr);
	}
	&__bottom {
		padding-bottom: 0;
	}
	&__btn-list {
		&:first-child {
			margin-right: 15px;
		}
		padding: 5px;
		outline: none;
	}
	&__btn-list.product__btn-list--active {
		path {
			fill: #21688f;
		}
	}
}

.product-logo {
	max-width: 1170px;
	margin: 0 auto;
	&__wrapper {
		background-color: #fef7f0;
	}
}

.product-filter {
	&__items {
		text-align: center;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 40px 30px;
		margin-bottom: 90px;
	}
	&__item {
		position: relative;
		height: 380px;
		max-width: 270px;
		padding: 30px 20px;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		overflow: hidden;

		&:hover {
			.product-filter__icon-box {
				transform: translateX(0);
				transition: all 0.3s;
			}
		}
	}
	&__img {
		margin: 0 auto;
		height: 200px;
		margin-bottom: 50px;
		object-fit: contain;
	}

	&__icon-box {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		left: 0;
		transform: translateX(-300%);
	}

	&__icon-link + .product-filter__icon-link {
		margin-left: 15px;
	}
	&__icon-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: #fff;
		transition: all 0.3s;

		&:hover {
			background-color: #a3bbc8;
			path {
				fill: #fff;
			}
		}
	}
	&__title-link {
		font-size: 16px;
		@extend %Rubik-500;
		color: $subtitle;
		margin-bottom: 15px;
	}
	&__price {
		color: $accent;
		font-size: 16px;
		@extend %DMS-700;
	}
	&__title {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}
.product-bottom {
	margin-top: 190px;
	&__items {
		display: flex;
		justify-content: center;
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 870px;
		height: 390px;
		background-color: #feefe2;
	}
	&__item + .product-bottom__item {
		margin-left: 30px;
	}
	&__inner {
		max-width: 340px;
	}
	&__images {
		margin-right: 30px;
		margin-top: -145px;
	}
	&__title {
		font-size: 26px;
		color: $subtitle;
		@extend %DMS-700;
		margin-bottom: 30px;
	}
	&__text {
		font-size: 16px;
		@extend %Rubik-400;
		color: $subtitle;
		margin-bottom: 57px;
	}
	&__link {
		padding: 22px 20px;
		border: 1px solid #b3b7b5;
		color: #436372;

		@extend %Rubik-500;
		&::after {
			content: url("../images/icons/arrow-right.svg");
			margin-left: 40px;
		}
		&__btn {
			margin-bottom: 20px;
		}
	}
}

.product-list {
	display: flex;
	margin-bottom: 40px;

	width: 100%;
	&__photo {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 500px;
		width: 370px;
		border: 1px solid #f2f2f2;
	}
	&__img {
		object-fit: cover;
	}
	&__description {
		@extend %Rubik-400;
		width: 450px;
		padding: 90px 60px 80px;
	}
	&__title {
		font-size: 40px;
		line-height: 0.661;
		color: #333333;
		margin-bottom: 25px;
	}
	&__price {
		display: block;
		padding: 40px 0;
	}
	&__text {
		margin-bottom: 38px;
		font-size: 16px;
	}
	&__btn {
		padding: 20px 55px;
		border-radius: 5px;
		border: none;
		background-color: $accent;
		color: #fff;
		cursor: pointer;
	}
	&__pagination {
		padding-top: 75px;
	}
	&__user {
		background-color: #fff;
		border: none;
		width: 50px;
		height: 50px;
		cursor: pointer;
		path {
			fill: $accent;
		}
	}

	&__user.product-list__wallet--active {
		background-color: $accent;
		box-shadow: none;

		path {
			fill: #fff;
		}
	}
	&__item-box {
		display: inline-block;
		box-shadow: 0px 6px 47px 3px rgba(196, 29, 29, 0.05);
		& + .product-list__item-box {
			margin-left: 10px;
		}
	}
}

.design {
	&__list {
		display: flex;
		justify-content: center;
		margin-bottom: 80px;
	}
	&__list-btn {
		background-color: transparent;
		padding: 0;
		border: none;
		cursor: pointer;
		font-size: 16px;
		color: #8b8b8b;
		@extend %DMS-700;
	}
	.mixitup-control-active {
		color: #1a1a1a;
	}
	&__list-btn + .design__list-btn {
		margin-left: 33px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 35px 30px;
		margin-bottom: 120px;
	}

	&__title,
	&__color {
		@extend %DMS-700;
		font-size: 20px;
		color: #1a1a1a;
	}
	&__color {
		margin-bottom: 20px;
	}
	&__subtitle {
		font-size: 16px;
		@extend %DMS-700;
		color: $accent;
	}
	&__inner {
		position: absolute;
		z-index: 2;
		margin-top: 40px;
		margin-left: 38px;
	}
	&__images {
		position: relative;
		transition: 0.3s;

		&:hover {
			transform: scale(1.1);
		}
	}
}
.bacgraund {
	position: absolute;
	margin-top: 346px;
}
.video {
	width: 100%;
	height: 500px;
	background-image: url("../images/video/video-bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 110px;
}
.articles {
	&__items {
		display: flex;
		justify-content: space-between;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		align-items: center;
	}
	&__title {
		font-size: 36px;
		@extend %DMS-700;
		color: #191919;
	}
	&__link {
		font-size: 16px;
		@extend %DMS-700;
		color: #191919;

		&::after {
			content: url("../images/icons/arrow-article.svg");
			margin-left: 18px;
		}
	}
	&__item {
		height: 450px;
		max-width: 370px;
		width: 100%;
		background-color: #fff;
		z-index: 5;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
	}
	&__img {
		margin-bottom: 30px;
		position: relative;
	}
	&__btn {
		width: 105px;
		height: 30px;
		background-color: $accent;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 18px;
		margin-left: 30px;
		position: absolute;
		bottom: -15px;
		font-size: 14px;
		@extend %DMS-700;
		color: #fff;
	}
	&__box {
		height: 170px;
		padding: 0 28px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__text {
		padding: 0 8px 18px;
		font-size: 18px;
		@extend %Rubik-500;
		color: #262626;
	}

	&__autor {
		display: flex;
		border-top: 1px solid #e0e0e0;
		padding: 25px 8px;
		font-size: 12px;
		color: #222933;
		@extend %DMS-700;
	}
	&__data {
		margin-right: 30px;
	}
	&__logo {
		padding: 90px 0;
	}
	&__logo-inner {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
.filter {
	width: 270px;
	margin-right: 30px;
	&__title-inner {
		text-transform: uppercase;
		font-size: 18px;
		color: $subtitle;
		@extend %DMS-700;
		padding-right: 70px;
	}

	&__title {
		display: inline-block;
		position: relative;
	}
	&__title-inner::after {
		content: "";
		position: absolute;
		width: 40px;
		height: 3px;
		right: 0;
		top: 9px;
		border-radius: 5px;
		background-color: $accent;
	}

	&__item {
		padding: 30px 0;
		margin-bottom: 35px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.filter-category {
	&__label {
		display: block;
		cursor: pointer;
	}
	&__input {
		@extend %checkbox-hidden;
		&:checked + .filter-category__checkbox {
			background-color: #edf1f4;
		}
	}
	&__checkbox {
		display: flex;
		justify-content: space-between;
		background-color: #fff;
		color: $subtitle;
		padding: 15px;
		border-radius: 5px;
		position: relative;
	}

	&__span {
		font-size: 16px;
		color: $subtitle;
		@extend %Rubik-400;
		&::after {
			content: "";
			position: absolute;
			width: 6px;
			height: 11px;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
			background-image: url("../images/icons/arrow-category.svg");
			background-repeat: no-repeat;
		}
	}
}
.filter-price {
	.irs-min,
	.irs-max {
		display: none;
	}
	.irs-line {
		height: 3px;
		align-items: center;
		color: #c2d2db;
	}
	.irs--flat .irs-bar {
		top: 25px;
		height: 4px;
		background-color: #c2d2db;
	}
	.irs--flat .irs-handle {
		top: 19px;
		width: 15px;
		height: 15px;
		cursor: pointer;
		background-color: #a3bbc8;
	}
	.irs--flat .irs-handle > i:first-child {
		display: none;
	}
	.irs-from,
	.irs-to,
	.irs-single {
		display: none;
	}
	.irs--flat {
		margin-bottom: 22px;
	}
	&__box {
		display: flex;
		justify-content: space-between;
	}
	&__from,
	&__to {
		font-size: 14px;
		color: #243f4d;
		@extend %Rubik-400;
	}
}

.filter-brand {
	&__label {
		display: block;
		cursor: pointer;
	}
	&__input {
		@extend %checkbox-hidden;
		&:checked + .filter-brand__checkbox {
			background-color: #edf1f4;
			.filter-brand__span--active {
				color: #000;
			}
		}
	}

	&__span--active {
		color: #b3b3b3;
	}

	&__checkbox {
		display: flex;
		justify-content: space-between;
		background-color: #fff;
		color: $subtitle;
		padding: 15px;
		border-radius: 5px;
		position: relative;
	}
}
.filter-products {
	&__item {
		display: flex;
		& + .filter-products__item {
			margin-top: 25px;
		}
	}
	&__box-images {
		width: 70px;
		height: 70px;
		border: 1px solid #f2f2f2;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
	}
	&__img {
		object-fit: cover;
	}
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: #333333;
	}
	&__title {
		font-size: 14px;
		@extend %Rubik-400;
	}
}
.jq-ry-container {
	padding: 0;
}
.about {
	padding: 120px 0;
	&__wrapper {
		display: flex;
	}
	&__img {
		width: 570px;
		height: 670px;
		object-fit: cover;
		margin-right: 50px;
	}
	&__content {
		padding: 80px 0;
	}
	&__experience {
		display: flex;
		margin-bottom: 52px;
	}
	&__img-numb {
		margin-right: 30px;
	}
	&__experience-text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 22px;
		font-size: 16px;
		@extend %DMS-400;
		line-height: 28px;
		color: $subtitle;
	}
	&__title {
		@extend %DMS-700;
		line-height: 32px;
		font-size: 36px;
		color: $subtitle;
	}
	&__title-text {
		@extend %DMS-400;
		font-size: 16px;
		line-height: 30px;
		color: $subtitle;
		padding: 50px 0;
		margin-bottom: 30px;
		border-bottom: 2px solid #e6eaf0;
		width: 550px;
	}
	&__skills {
		width: 550px;
		display: flex;
	}
	&__skills-item {
		@extend %DMS-700;
		position: relative;
		margin-bottom: 12px;
		padding: 10px 14px 10px 90px;
		&:nth-last-child(2) {
			border-right: 1px solid #e6eaf0;
			border-left: 1px solid #e6eaf0;
		}
	}
	&__level {
		font-size: 36px;
		line-height: 38px;
		color: $subtitle;
		margin-bottom: 10px;
	}
	&__level-text {
		font-size: 16px;
		line-height: 17px;
		color: #4c4c4c;
	}
	&__level--projects::before {
		content: "";
		background-image: url("../images/about/icons/1.svg");
		background-repeat: no-repeat;
		position: absolute;
		left: 20px;
		top: 22px;
		height: 40px;
		width: 40px;
	}
	&__level--revenue::before {
		content: "";
		background-image: url("../images/about/icons/2.svg");
		position: absolute;
		background-repeat: no-repeat;
		left: 20px;
		top: 20px;
		height: 40px;
		width: 45px;
	}
	&__level--awards::before {
		content: "";
		background-image: url("../images/about/icons/3.svg");
		position: absolute;
		background-repeat: no-repeat;
		left: 20px;
		top: 22px;
		height: 40px;
		width: 40px;
	}
}
.our-rating {
	height: 320px;
	background-color: #fcd7b6;

	&__inner {
		padding: 85px 0;
		display: flex;
		justify-content: space-around;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		@extend %DMS-700;
		color: $subtitle;
	}
	&__icon {
		margin-bottom: 22px;
		display: block;
	}
	&__numb {
		margin-bottom: 25px;
		font-size: 36px;
		line-height: 32px;
	}
}
.team {
	padding: 120px 0;
	&__wrapper {
		display: flex;
	}
	&__content {
		width: 430px;
		margin-right: 95px;
	}
	&__title {
		@extend %DMS-700;
		font-size: 36px;
		line-height: 32px;
		color: $subtitle;
		margin-bottom: 38px;
	}
	&__text {
		@extend %Rubik-400;
		font-size: 16px;
		line-height: 30px;
		margin-bottom: 45px;
	}
	&__btn {
		position: relative;
		display: inline-block;
	}
	&__link-btn {
		border-radius: 5px;
		&::after {
			content: "";
			position: absolute;
			background-image: url("../images/icons/about-arrow.svg");
			width: 16px;
			height: 12px;
			top: 50%;
			right: 26px;
			transform: translateY(-50%);
		}
		display: inline-block;
		padding: 20px 60px 20px 18px;
		background-color: $accent;
		color: #fff;
		font-size: 15px;
	}
	&__pfoto-wrap {
		display: grid;
		grid-template-columns: repeat(2, 370px);
		grid-column-gap: 30px;
		grid-row-gap: 100px;
	}
	&__img {
		width: 370px;
		height: 320px;
		object-fit: cover;
	}
	&__box {
		background-color: #fff;
		padding: 30px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 320px;
		height: 110px;
		position: absolute;
		margin-top: -50px;
		box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
	}

	&__name {
		font-size: 22px;
		line-height: 26px;
		color: #436372;
		@extend %DMS-700;
		margin-bottom: 20px;
	}

	&__link {
		width: 40px;
		height: 40px;
		background-color: #f6f6f6;
		border-radius: 50%;
		position: relative;
		&:first-child {
			margin-right: 8px;
		}
	}
	&__social {
		display: flex;
	}
	&__link-instagram {
		position: absolute;
		top: 50%;
		left: 12px;
		margin-right: 8px;
		transform: translateY(-50%);
	}
	&__link-google {
		position: absolute;
		top: 50%;
		left: 11px;
		transform: translateY(-50%);
	}
	&__profession {
		font-size: 16px;
		line-height: 30px;
		@extend %Rubik-400;
		color: #565872;
	}
}
.blog {
	padding: 120px 0;
	&__items {
		display: flex;
	}
	&__content {
		max-width: 830px;
		margin-right: 70px;
	}
	&__photo {
		position: relative;
	}
	&__image {
		object-fit: cover;
	}
	&__pablic-inner {
		display: flex;
		justify-content: center;
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		align-items: center;
		width: 275px;
		height: 70px;
		font-size: 12px;
		line-height: 30px;
		background-color: $accent;
		@extend %Rubik-400;
		color: #fff;
	}
	&__pablic-box,
	&__admin-box {
		position: relative;
	}
	&__pablic-date {
		padding-left: 20px;
		&::before {
			position: absolute;
			background-image: url("../images/blog/icons/calendar.svg");
			content: "";
			width: 16px;
			height: 16px;
			left: 0;
			top: 5px;
		}
		margin-right: 25px;
	}
	&__pablic-admin {
		padding-left: 18px;
		&::before {
			position: absolute;
			background-image: url("../images/blog/icons/user-regular.svg");
			background-repeat: no-repeat;
			content: "";
			width: 16px;
			height: 16px;
			left: 0;
			top: 5px;
		}
	}
	&__title {
		padding: 40px 0;
		font-size: 36px;
		line-height: 26px;
		color: #333333;
		@extend %Rubik-400;
	}
	&__text {
		font-size: 16px;
		line-height: 30px;
		color: $subtitle;
		@extend %Rubik-400;
		margin-bottom: 40px;
	}
	&__link {
		padding: 20px 85px 20px 20px;
		border: 1px solid $accent;
		font-size: 15px;
		line-height: 12px;
		color: $accent;
		@extend %DMS-700;

		&::after {
			content: "";
			background-image: url("../images/blog/icons/arrow-right.svg");
			background-repeat: no-repeat;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			width: 23px;
			height: 10px;
		}
	}
	&__btn {
		display: inline-block;
		position: relative;
		margin-bottom: 75px;
	}
	&__pagination {
		padding: 10px 0;
		display: flex;
		justify-content: start;
	}
	&__post-item {
		margin-bottom: 40px;
	}
}
.search {
	&__form {
		width: 267px;
		border-right: #edf1f4;
		margin-right: -7px;
		display: flex;
		border: 2px solid #edf1f4;
		border-radius: 5px;
		margin-bottom: 58px;
	}
	&__input {
		padding: 0 10px;
		color: #2183ce;
		width: 220px;
		height: 45px;
		border: none;
	}
	&__btn {
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 51px;
		height: 46px;
		background-color: #edf1f4;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}
}
.post {
	&__item {
		&:nth-last-child(1) {
			margin-bottom: 0;
		}
		margin-bottom: 22px;
		display: flex;
		justify-content: space-between;
	}
	&__photo-link {
		width: 70px;
		height: 70px;
	}
	&__image {
		object-fit: cover;
		min-width: 70px;
		height: 70px;
	}

	&__description {
		padding: 5px 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__title {
		font-size: 14px;
		line-height: 20px;
		@extend %Rubik-400;
		color: #333333;
	}
	&__date {
		display: flex;
		align-items: center;
		font-size: 12px;
		line-height: 30px;
		color: #9a9a9a;
		svg {
			width: 13px;
			height: 13px;
			margin-right: 10px;
		}
	}
}
.blog-details {
	&__subtitle,
	&__time,
	&__text,
	&__blockquote {
		font-size: 16px;
		line-height: 30px;
		color: #243f4d;
		@extend %Rubik-500;
	}
	&__text {
		color: #243f4d;
		@extend %Rubik-400;
		margin-bottom: 45px;
	}
	&__blockquote {
		border-left: 7px solid $accent;
		background-color: #edf1f4;
		padding: 22px 95px 22px 35px;
		margin-bottom: 50px !important;

		p {
			padding-left: 45px;
		}
	}
	&__time-box {
		position: relative;
	}
	&__time {
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 10px;
			width: 20px;
			height: 4px;
			border-radius: 5px;
			background-color: $accent;
		}
	}
	&__inner {
		display: flex;
	}
	&__images {
		width: 320px;
		height: 210px;
		object-fit: cover;
	}
	&__inner-item {
		padding: 25px 0 25px 30px;
	}
	&__description-title {
		font-size: 18px;
		line-height: 30px;
		color: $subtitle;
		@extend %Rubik-500;
		margin-bottom: 30px;
	}
	&__description-text {
		font-size: 16px;
		line-height: 30px;
		color: #565872;
		@extend %Rubik-400;
	}
	&__description-subtitle {
		padding: 50px 0 30px;
		font-size: 18px;
		line-height: 30px;
		color: $subtitle;
		@extend %Rubik-500;
	}
	&__description-subtitle-text {
		font-size: 16px;
		line-height: 30px;
		color: #565872;
		@extend %Rubik-400;
		margin-bottom: 65px;
	}
}
.profession-user {
	border-top: 2px solid #ebebeb;
	border-bottom: 2px solid #ebebeb;
	padding: 25px 0;
	&__link {
		min-width: 70px;
		height: 70px;
		margin-right: 30px;
	}
	&__img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	&__items {
		padding: 15px 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	display: flex;
	&__inner {
		margin-right: 40px;
		display: flex;
		justify-content: space-between;
	}
	&__skill {
		display: flex;
	}
	&__social {
		display: flex;
	}
	&__name {
		font-size: 18px;
		line-height: 25px;
		@extend %Rubik-500;
		color: #333333;
	}
	&__prof {
		font-size: 16px;
		line-height: 30px;
		color: #666666;
		@extend %Rubik-500;
	}
	&__tags {
		margin-right: 23px;
		font-size: 16px;
		line-height: 26px;
		color: #333333;
		@extend %Rubik-400;
	}

	&__social li {
		&:first-child {
			margin-left: 15px;
		}
		margin-right: 10px;
	}
}
.comment {
	&__title {
		padding: 60px 0;
		font-size: 24px;
		line-height: 36px;
		@extend %DMS-700;
		color: #436372;
	}
}
.comment-block {
	display: flex;
	&__photo-link {
		display: block;
		min-width: 100px;
		height: 100px;
		margin-right: 30px;
	}
	&__image {
		max-width: 100px;
		height: 100%;
		object-fit: cover;
	}
	&__content,
	&__subcontent {
		padding-bottom: 32px;
		border-bottom: 1px solid #e0e0e0;
		margin-bottom: 30px;
	}
	&__content {
		&:nth-last-child(1) {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 90px;
		}
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}
	&__text {
		margin-bottom: 30px;
	}
	&__link {
		position: relative;
		padding-right: 20px;
		&::after {
			content: "";
			position: absolute;
			background-image: url("../images/icons/arrow.svg");
			background-repeat: no-repeat;
			right: 0;
			top: 6px;
			width: 11px;
			height: 14px;
		}
	}
	&__content-box {
		display: flex;
		flex-direction: column;
	}
	&__subcontent {
		display: flex;
	}
	&__name {
		font-size: 16px;
		@extend %DMS-700;
		color: #436372;
	}
	&__date {
		font-size: 16px;
		color: #9e9e9e;
		@extend %Rubik-400;
	}
	&__text {
		font-size: 16px;
		line-height: 30px;
		@extend %Rubik-400;
		color: #565872;
	}
	&__link {
		color: #516278;
		@extend %Rubik-400;
	}
}
.block-form {
	&__title {
		margin-bottom: 50px;
		font-size: 24px;
		line-height: 30px;
		@extend %DMS-700;
		color: #436372;
	}
	&__box {
		display: block;
		display: flex;
		justify-content: space-between;
		input {
			width: 400px;
			font-size: 16px;
			line-height: 36px;
			color: #333333;
			&::placeholder {
				font-size: 16px;
				line-height: 36px;
				color: #999999;
			}
		}
	}
	&__input {
		position: relative;
		width: 100%;
		display: block;
		height: 50px;
		padding: 0 20px;
		padding-right: 25px;
		margin-bottom: 30px;
		border: 1px solid #e5e5e5;
		outline-color: $accent;
	}
	&__textarea {
		width: 100%;
		display: block;
		resize: none;
		height: 200px;
		padding: 20px;
		font-size: 16px;
		margin-bottom: 30px;
		border: 1px solid #e5e5e5;
		outline-color: $accent;
		&::placeholder {
			color: #999999;
		}
	}
	&__userbox {
		position: relative;
	}
	&__usersvg {
		position: absolute;
		top: 16px;
		right: 20px;
		width: 15px;
		height: 15px;
	}
	&__btn {
		color: #fff;
		padding: 20px 35px;
		background-color: $accent;
		border: none;
		cursor: pointer;
		font-size: 14px;
		line-height: 21px;
		@extend %Rubik-400;
	}
	&__map {
		display: flex;
		justify-content: space-between;
	}
}
.contact {
	padding: 120px 0 135px;
	&__link {
		display: block;
		text-align: center;
		font-size: 16px;
		line-height: 20px;
		color: $accent;
		margin-bottom: 20px;
		@extend %DMS-700;
	}
	&__title {
		text-align: center;
		font-size: 35px;
		line-height: 37px;
		@extend %DMS-700;
		color: #436372;
	}
	&__items {
		padding: 80px 0 120px;
		display: flex;
		justify-content: space-between;
	}
	&__form {
		width: 100%;
		margin-right: 30px;
		input {
			width: 300px;
			height: 50px;
			padding-right: 36px;
		}
		textarea {
			height: 180px;
			margin-bottom: 12px;
		}
	}
	&__input {
		width: 100px;
	}
	button {
		font-size: 15px;
	}
}
.contact-adress,
.contact-email,
.contact-phone {
	text-align: center;

	background-color: #fbfbfb;
	border: 2px solid transparent;
	transition: all 0.5s;
	&:hover {
		path {
			fill: #fff;
		}
		border: 2px solid $accent;
		.contact-adress__link,
		.contact-email__link,
		.contact-phone__link {
			transition: all 0.5s;
			background-color: $accent;
		}
	}
	width: 370px;
	height: 380px;
	padding: 70px 50px 80px;
	&__link {
		margin: 0 auto;
		display: block;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 82px;
		height: 82px;
		box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
		background-color: #fff;
		border-radius: 25px;
		margin-bottom: 65px;
	}
	&__adress {
		font-size: 20px;
		line-height: 26px;
		@extend %DMS-700;
		color: #222222;
		margin-bottom: 25px;
	}
	&__street,
	&__coordinat {
		@extend %Rubik-400;
		font-size: 16px;
		line-height: 30px;
		color: #565872;
	}
}
.product-details {
	padding: 120px 0 100px;
	&__box {
		display: flex;
	}
	&__slider-box {
		display: flex;
		width: 550px;
		margin-right: 70px;
	}
	&__thumb-item {
		width: 140px;
		margin-right: 30px;
	}
	&__thumb {
		cursor: pointer;
		width: 140px;
		height: 160px;
		border: 2px solid #f2f2f2;
		display: flex !important;
		justify-content: center;
		margin-bottom: 23px;
		img {
			object-fit: cover;
		}
	}
	&__big-item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 390px;
		height: 530px;
		border: 2px solid #f2f2f2;
	}
	&__big {
		display: flex !important;
		justify-content: center;
		align-items: center !important;
		img {
			object-fit: cover;
		}
	}
	&__content {
		width: 550px;
	}
}
.product-content {
	&__title,
	&__price {
		padding: 30px 0;
		font-size: 40px;
		line-height: 36px;
		color: #333333;
		@extend %Rubik-400;
	}
	&__price {
		padding: 40px 0;
	}
	&__text {
		font-size: 16px;
		line-height: 30px;
		color: $accent;
		@extend %Rubik-400;
		margin-bottom: 35px;
	}
	&__btn {
		text-transform: uppercase;
		height: 50px;
		width: 210px;
		font-size: 15px;
		margin-left: 15px;
		@extend %Rubik-400;
		border: none;
		color: #fff;
		background-color: $accent;
		border-radius: 5px;
		cursor: pointer;
	}
	&__form {
		display: flex;
		align-items: center;
		margin-bottom: 55px;
	}
	&__item {
		display: flex;
		font-size: 16px;
		line-height: 30px;
		color: $subtitle;
		@extend %Rubik-400;
		& + .product-content__item {
			margin-top: 20px;
		}
	}
	&__item-title {
		margin-right: 5px;
	}
	&__link {
		font-size: 16px;
		line-height: 30px;
		color: $subtitle;
		@extend %Rubik-400;
	}
}
.jq-number {
	position: relative;
	padding: 0;
	width: 150px;
	height: 50px;
}
.jq-number.focused .jq-number__field {
	border: 2px solid $accent;
}

.jq-number__field {
	width: 150px;
	height: 50px;
	border: 2px solid $accent;
}
.jq-number__field input {
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 8px 9px;
	font-size: 15px;
	line-height: 45px;
}
.jq-number__spin {
	&:hover {
		background: #fff;
	}
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border: 2px solid $accent;
	background: #fff;
	border-radius: 0;
}
.jq-number__spin.minus {
	top: auto;
	bottom: -25px;
	left: 0;
}
.jq-number__spin.minus:after {
	content: "";
	top: 24px;
	left: 19px;
	border-top: none;
	width: 6px;
	height: 1px;
	background-color: #000;
}
.jq-number__spin:after {
	content: "";
	background-image: url("../images/icons/plus.svg");
	background-repeat: no-repeat;
	position: absolute;
	top: 19px;
	left: 13px;
	width: 20px;
	height: 20px;
	// background-color: #000;
	border-bottom: none;
}
.product-tabs {
	padding: 100px 0 120px;
	&__top {
		margin-bottom: 40px;
		display: flex;
		justify-content: center;
	}
	&__btn {
		padding: 20px 80px;
		color: $subtitle;
		background-color: #edf1f4;
		border-radius: 5px;
		font-size: 18px;
		@extend %Rubik-500;

		& + .product-tabs__btn {
			margin-left: 13px;
		}
	}

	&__btn--active {
		background-color: $accent;
		color: #fff;
	}
	&__content-item {
		display: none;
		&.product-tabs__content-item--active {
			display: block;
		}
	}
}
.product-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.product-slider {
	&__title {
		margin-bottom: 40px;
		font-size: 36px;
		@extend %DMS-700;
		color: $subtitle;
	}
}
.slick-prev,
.slick-next {
	border: none;
	width: 50px;
	height: 50px;
	border: 2px solid #edf1f4;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	position: absolute;
	top: -87px;
	right: 0;
	z-index: 5;
	margin-left: 13px;
	transition: all.5s;
	&:hover {
		border-color: $accent;
	}
	img {
		margin-left: 12px;
	}
}
.slick-next {
	right: 60px;
}
.condition {
	padding: 120px 0;
	&__list {
		list-style-type: decimal-leading-zero;
	}

	&__title {
		font-size: 24px;
		line-height: 40px;
		@extend %Rubik-500;
		color: $subtitle;
		margin-bottom: 35px;
	}
	&__text {
		font-size: 16px;
		line-height: 30px;
		color: $subtitle;
		@extend %Rubik-400;
		margin-bottom: 35px;
	}
	&__text:last-child {
		margin-bottom: 0px;
	}
	&__list-box {
		padding-bottom: 80px;
		margin-left: 30px;
	}

	&__item + .condition__item {
		margin-top: 35px;
	}
	&__item {
		font-size: 16px;
		line-height: 30px;
		color: $subtitle;
		@extend %Rubik-400;
	}
}

@import "media";
